
/* update-post css*/

body{
    /*background-color:rgb(240, 234, 234);*/
    background-image: url('img/blueboard.jpg');
    background-size: cover;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
   
}

#header-container{
    height: 4.5em;
    width:100%;
}

#blog-page-link{
    margin-left: 22%;
    color:rgb(35, 3, 109);
    font-size: 1em;
    text-decoration: none;
    
}

#page-title{
    
    display: inline-block;
    color:rgb(35, 3, 109);
    padding-left:53%;
 
}

form{
    background-color:rgba(7, 81, 177, 0.2);
    width:40%;
    margin-left: 45%;
    margin-top: 3em;
    color:rgb(35, 3, 109);
    border-radius: 10%;
}

form .input{
    display: block;
    margin:1em;
    padding: 0.8em;
}

.input label,
.input input{
    display: block;
    width: 100%;
    margin-top:0.5em; 
    height:2em; 
    color:rgb(19, 2, 58);
    border: darkblue;
}
form .input label #title-lable{
    padding-top:2em;
}
.input textarea{
    display: block;
    width: 100%;
    margin-top: 0.5em;  
}

#checkbox{
    display: block;
    width: 85%;
    color:rgb(8, 2, 24);
    margin: 1em;
    
}

#update{
    display: block;
    width: 15%;
    margin-left:48%;
    height:2em;
    background-color: rgb(35, 4, 109);
    color:white;
}

#goback-link{
    display: block;
    width: 33%;
    margin-left: 50%;
    margin-top: 1em;
}


input[type="checkbox"]
{
    vertical-align:middle;
}



